@media (max-width: 1024px) {
    main {
        margin-left: calc(50% - 1500px);
        margin-right: calc(50% - 1500px);
        width: 78rem;
        height: 53rem;
    }
}

@media (max-width: 767px) {
    body {

        height: 90vh;

      }
    main {
        width: 79%;
        height: 88%;
        flex-direction: column;
    }

    .dice {

        left: 82%;
        top: 43%;

    }

    .btn {
        left: 21%;

    }
}