@media (max-width: 1024px) {
    main {
        margin-left: calc(50% - 1500px);
        margin-right: calc(50% - 1500px);
        width: 78rem;
        height: 53rem;
    }
}

@media (max-width: 767px) {
    body {

        height: 87vh;
        box-shadow: 0 6rem 17rem #e2b810;
    }

    main {
        width: 93%;
        height: 93%;
        flex-direction: column;
    }

    .player {
        padding: 10px 0 42px 0;
        /* padding-top: 10px; */
        gap: 5px;
        justify-content: flex-end;
    }

    .player-reverse {
        padding: 45px 0 10px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .name {
        font-size: 3rem;
    }
    
    .score {
        margin-bottom: 0;
        font-size: 6rem;
    }
    
    .current {
        width: 33%;
        padding: 1rem;
    }

    .current-label {
        margin-bottom: 3px;
       
    }
    .dice {

        left: 50%;
        top: -10%;
        height: 8rem;

    }

    .btn {
        left: 21%;
        font-size: 14px;
    }

    .btn--new {
        top: -99%;
        left: 49%;
    }

    .btn--roll {
        top: 80%;
        left: 78%;
        width: 150px;
    }

    .btn--hold {
        top: 83%;
        left: 22%;
    }
}