@media (max-width: 1024px) {
    main {
        margin-left: calc(50% - 1500px);
        margin-right: calc(50% - 1500px);
        width: 78rem;
        height: 53rem;
    }
}

@media (max-width: 767px) {
    body {

        height: 90vh;

    }

    main {
        width: 79%;
        height: 78%;
        flex-direction: column;
    }

    .player {
        padding: 0;
        padding-top: 10px;
        gap: 15px;
    }

    .player-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .current {

        width: 47%;
  
    }

    .score {

        margin-bottom: 0;
    }

    .dice {

        left: 50%;
        top: -12%;

    }

    .btn {
        left: 21%;
        font-size: 14px;
    }

    .btn--new {
        top: -96%;
        left: 17%;
    }

    .btn--roll {
        top: -10%;
        left: 84%;
        width: 150px;
    }

    .btn--hold {
        top: -7%;
        left: 16%;
    }
}